.top_menu {
    height: calc(100vw * 0.33);
    width: 100%;
    background-image: url(../img/classes/classesBG.jpg);
    background-size: 100vw calc(100vw * 0.33);
    max-height: 476px;
    background-repeat: no-repeat;

}

.top_menuCont {
    justify-content: flex-start;
}

.top_menuCont h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    color: #FFFFFF;
}