* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

header {
    position: absolute;
    width: 100%;
    /* background-color: red; */

}

header .active {
    border-bottom: 2px solid rgb(0, 0, 0);
}




/*  */

main {
    padding:0 10px;
}