* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	background-color: transparent;
	border: none;
}
.menuBtn{
	height: 40px;
	width: 40px;
	display: none;
}

.header {
	position: absolute;
	width: 100%;
	height: 120px;
	justify-content: space-between;
	top: 0;


}

.navheader a {
	margin-left: 56px;
	padding: 5px 2px;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #FFFFFF;
	cursor: pointer;

}

header .active {
	border-bottom: 3px solid rgb(248, 245, 245);
}

/*  */
.top_menu {
	height: calc(100vw * 0.33);
	width: 100%;
	background-size: 100% 100%;
	max-height: 476px;
	background-repeat: no-repeat;
	justify-content: center;
}

.top_menuCont {
	justify-content: flex-start;
}

.top_menuCont h2 {
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 64px;
	line-height: 64px;
	color: #FFFFFF;
	background-color:rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	
}



/*  */

.main {
	padding: 0 10px;
}

/* Before footerBlock */
.beforefooterblock {
	flex-wrap: wrap;
}

.FormBf {
	width: calc(50% - 10px);
	padding: 0 5px;
	background: rgba(0, 0, 0, 0.4);
	align-items: flex-start;
	justify-content: space-evenly;
	height: calc(100vw * 0.33);
	min-height: 300px;
	max-height: 480px;
}

.FormBf h2 {
	margin-left: 12%;
	margin-top: 5%;
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 64px;
	color: #FFFFFF;
}

.FormBf p {
	margin-left: 12%;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
	max-width: 490px;
}


.redButtonHug {
	width: 218px;
	height: 80px;
	background: #FF0A54;
	border-radius: 8px;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 16px;
	color: #FFFFFF;
	transition: all 0.4s;
	margin-left: 12%;
	margin-bottom: 5%;

}
/* about btn */
.sizeBtn {
    margin: 0;
    width: 228px;
    height: 64px;
}

.redButtonHug:hover {
	background: #ffd6e3;
	color: #ff0a54;
}
@media (max-width: 900px) {
	.FormBf {
		width: calc(50% - 10px);
		padding: 0 5px;
		background: rgba(0, 0, 0, 0.4);
		align-items: center;
		justify-content: space-evenly;
	}
	
	.FormBf h2 {
		margin: 0 0;
		font-size: 46px;
		
	}
	
	.FormBf p {
		margin: 0 0;
		max-width: 98%;
		text-align: center;
	}
	.redButtonHug {
		margin: 0;
	}

}


@media (max-width: 750px) {
	.header {
		
	}

	.navheader a {
		margin: 0;
		padding: 0 10px;
		/* width: 0; */
	}
	.navheader {
		/* width: 0; */
		position: absolute;
		top: 10px;
		padding-right: 40px;
		right: 10px;
		display: flex;
		margin-left: 16px;
		flex-direction: column;
		z-index: 9;
		background-color: rgba(113, 97, 97, 0.719);
		
	}
	.navheader.close, .navheader.close a{
		width: 0;
		height: 0;
		padding: 0;
		margin: 0;
	}
    .menu {
		position: absolute;
		right: 2px;
		top: 10px;
		width: 40px;
		height: 38px;
		cursor: pointer;
		z-index: 10;
	}
	
	.menu .line {
		height: 4px;
		border-radius: 10px;
		width: 100%;
		background: white;
		position: absolute;
		transition: all 1s;
		left: 0;
	}
	
	.menu .line:nth-child(1) {
	   
		top: 0;
	}
	.menu .line:nth-child(2) {
		top: 17px;
	}
	.menu .line:nth-child(3) {
		top: 17px;
	}
	.menu .line:nth-child(4) {
		top: 34px;
	}
	
	
	.menu.open .line:nth-child(1)  {
		top: 50%;
		width: 0;
		left: 50%;
		
	}
	.menu.open .line:nth-child(2)  {
		transform: rotate(45deg);
		background-color: #FF0A54;
	}
	.menu.open .line:nth-child(3)  {
		transform: rotate(-45deg);
		background-color: #FF0A54;
	
	}
	.menu.open .line:nth-child(4)  {
		top: 50%;
		width: 0;
		left: 50%; 
	}

	.ql {
		display: none;
	}

	/* .top_menuCont {
		justify-content: center;

	} */

	.top_menu {
		align-items: flex-end;
	}

	.top_menuCont h2 {
		font-size: 32px;
		line-height: 46px;
		margin-bottom: 14px;
	}
	.FormBf{
		width: calc(100% - 10px);
		min-width: 280px
	}
	.FormBf h2 {
		margin: 0 0;
		font-size: 36px;
		
	}
	.FormBf p {
		margin: 0 0;
		max-width: 80%;
	}
}


/* footer */
.contfoot {
	background: #a30031;
	height: 434px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 0 10px;
}

.footertext {
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	max-width: 400px;
	margin: 0 0 8px 0;
}

.linkcontact {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	margin: 0;
	margin-bottom: 24px;
}

.footlist {
	height: 152px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footlist a {
	margin: 0;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 16px;
	/* line-height: 32px; */
	color: #ffffff;
	text-decoration: none;
}

.contactdiv {
	height: 124px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
}

.columnfooter {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.topfoot {
	display: flex;
	max-width: 1030px;
	max-height: 200px;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 50px;
}

.contInfo {
	display: flex;
	align-items: center;
}

.contInfo svg {
	margin-right: 21px;
}

.footmargin {
	margin-bottom: 24px;
}

.bottomfoot {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	align-items: center;
}

.logobottom {
	display: flex;
	justify-content: space-between;
	width: 152px;
}

.borderlogo {
	display: flex;
	background-color: #fff;
	border-radius: 100%;
	color: #ff0a54;
	height: 40px;
	width: 40px;
	align-items: center;
	justify-content: center;
	font-family: "Roboto";
}

.allRightsReserved {
	color: #ffffff;
}