/* display */
.centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexcenter{
    display: flex;
    align-items: center;
}
/* size */

.top_menu {
    height: 476px;
    width: 100%;
    display: flex;
    align-items: center;
    background: url('../img/global/bgDes.jpg') 0 0 / 100% auto no-repeat ;
}



/* ----------- */


/* width */
.globalLimitWidth {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
 }
 .max1232 {
	 max-width: 1232px;
	 width: 100%;
	 margin: 0 10px;
 }
 /* w */
 .w100 {
	 width: 100%;
 }

/* main title text white */
.maintitle {
  font-size: 64px;
  font-family: "Poppins";
  font-weight: 700;
  color: #fff;
}
.max1232 {
    max-width: 1252px;
    width: 98%;
}