.top_menu {
    background-image: url(../img/teachers/topMenuBG.png);
}
.aboutTeacherBlock {
    margin-top: 40px;
}
.aboutTeacher {
    margin: 80px 0;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.blockImg img {
    width: 100%;
    min-width: 275px;
    max-width: 508px;
}

.blockAbout {
    width: calc(55% - 20px);
    align-items: flex-start;
    justify-content: space-between;
    height: calc(100vw * 0.54);
    max-height: 540px;
    padding: 0 10px;
}


.blockAbout h3 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 48px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #222F5D;
  
}

.blockAbout h4 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    color: #79799B;
   
 
}
.blockAbout p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222F5D;
}
.linkSocialMedia {
    width: 152px;
    justify-content: space-between;
    margin-bottom: 26px;
}

.linkRingSocial {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(255, 214, 227, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkRingSocial a {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #FF0A54;
}

.lineAbT {
    background-color: rgba(225, 225, 225, 1);
    height: 2px;
}
@media (max-width: 950px) {
    .aboutTeacher{
        flex-wrap: wrap;
        justify-content: center;
    }
    .blockAbout {
        align-items: center;
        width: calc(100% - 20px);
        max-width: 750px;
        max-height: none;
        height: auto;
    }
    .aboutTeacher {
        margin: 20px 0;

        max-height: none;
    }
    .aboutTeacherBlock {
        margin-top: 0;
    }
}
@media (max-width: 750px){
    .blockAbout h3 {
        font-size: 28px;
      
    }
    
    .blockAbout h4 {
        font-size: 18px;
        color: #79799B;
       
     
    }
    
    .blockAbout p {
        font-size: 14px;
        line-height: 18px;
        
    }
    .blockAbout p:nth-of-type(2){
        margin-bottom: 16px;
    }
}
@media (max-width: 750px){
  .top_menu{
    background-image: url(../img/teachers/topMenuBGMob.png);
  }
}